*.pyc
*.ipynb*
training/.flag*
prediction*.csv

\.idea/

\.vscode/

features/
isbi_train/results/base-20180312-174351-auc1-fpr1-tpr1/

isbi_train/results/base-20180312-182704/

isbi_train/results/base-20180313-210951/

isbi_train/results/base-20180315-213838/

isbi_train/results/base-20180314-181619/

isbi_train/results/base-20180314-180809/

isbi_train/results/base-20180313-202136/

bbox_result_yizhong/

features_yizhong/

prep_result_multiple/

prep_result_yizhong/

isbi_train/results/base-20180320-210450/

isbi_train/results/base-20180320-211726/

features_multiple/
